[submodule "Submodules/CatrobatForWindowsSubPlayer"]
	path = Submodules/CatrobatForWindowsSubPlayer
	url = https://github.com/Catrobat/CatrobatForWindowsSubPlayer.git
[submodule "Submodules/CatrobatForWindowsSubPaint"]
	path = Submodules/CatrobatForWindowsSubPaint
	url = https://github.com/Catrobat/CatrobatForWindowsSubPaint.git
