<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="45908950-905f-4a90-867a-03ddc82b656b" Publisher="CN=Valentin" Version="0.0.1.0" />
  <mp:PhoneIdentity PhoneProductId="45908950-905f-4a90-867a-03ddc82b656b" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Catrobat.IDE.WindowsPhone</DisplayName>
    <PublisherDisplayName>Valentin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Catrobat.IDE.WindowsShared.App">
      <m3:VisualElements DisplayName="Pocket Code IDE" Square150x150Logo="Assets\Square150x150_t.png" Square44x44Logo="Assets\Square44x44.png" Description="Catrobat.IDE.WindowsPhone" ForegroundText="light" BackgroundColor="transparent" ToastCapable="true">
        <m3:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <m3:DefaultTile Wide310x150Logo="Assets\Wide310x150_t.png" Square71x71Logo="Assets\Square71x71_t.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="1">
            <SupportedFileTypes>
              <FileType ContentType="image/png">.catrobat_ide_png</FileType>
              <FileType ContentType="image/jpg">.catrobat_ide_jpg</FileType>
              <FileType>.catrobat</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.protocol">
          <Protocol Name="pocketcode">
            <DisplayName>Pocketcode URI Scheme</DisplayName>
          </Protocol>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="picturesLibrary" />
  </Capabilities>
</Package>