<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="f53a5122-9a9c-486b-86cf-3a3e60e0fd2f" Publisher="CN=Valentin" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="f53a5122-9a9c-486b-86cf-3a3e60e0fd2f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Catrobat.Paint.WindowsPhone</DisplayName>
    <PublisherDisplayName>Valentin</PublisherDisplayName>
    <Logo>Assets\Tiles\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Catrobat.Paint.WindowsPhone.App">
      <m3:VisualElements DisplayName="Pocket Paint" Square150x150Logo="Assets\Tiles\Square150x150.png" Square44x44Logo="Assets\Tiles\Square44x44.png" Description="Catrobat.Paint.WindowsPhone" ForegroundText="light" BackgroundColor="transparent" ToastCapable="true">
        <m3:LockScreen Notification="badge" BadgeLogo="Assets\Tiles\BadgeLogo.png" />
        <m3:DefaultTile Wide310x150Logo="Assets\Tiles\Wide310x150.png" Square71x71Logo="Assets\Tiles\Square71x71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\Tiles\SplashScreen.png" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="1">
            <DisplayName>DisplayName</DisplayName>
            <SupportedFileTypes>
              <FileType ContentType="image/png">.png</FileType>
              <FileType ContentType="image/jpeg">.jpg</FileType>
              <FileType ContentType="image/png">.catrobat_paint_png</FileType>
              <FileType ContentType="image/jpeg">.catrobat_paint_jpeg</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="videosLibrary" />
    <Capability Name="picturesLibrary" />
    <Capability Name="musicLibrary" />
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>