<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Mutzl.Mvvm.DependentRelayCommand" version="0.9.1.1" targetFramework="net45" />
  <package id="Portable.CommonServiceLocator" version="1.2.2" targetFramework="net45" />
  <package id="Portable.MvvmLightLibs" version="4.2.30.1" targetFramework="net45" />
  <package id="Unofficial.Blend.Interactivity" version="1.0.0" targetFramework="net45" />
</packages>