<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.HotTuna.CrossCore" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.Accelerometer" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.All" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.Bookmarks" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.Color" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.DownloadCache" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.Email" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.File" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.Json" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.JsonLocalisation" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.Location" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.Messenger" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.Network" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.PhoneCall" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.PictureChooser" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.ReflectionEx" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.ResourceLoader" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.Share" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.SoundEffects" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.Sqlite" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.ThreadUtils" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.Visibility" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.Plugin.WebBrowser" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.HotTuna.StarterPack" version="3.0.10" targetFramework="portable-net45+wp80+win" />
  <package id="MvvmCross.PortableSupport" version="3.0.10" targetFramework="portable-net45+wp80+win" />
</packages>