<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="d7e493e1-82b8-4ef3-a8f6-c880a20b219e"
            Publisher="CN=Valentin"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>PlayerWindowsStore</DisplayName>
    <PublisherDisplayName>Valentin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="PlayerWindowsStore.App">
        <VisualElements
            DisplayName="PlayerWindowsStore"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="PlayerWindowsStore"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>